<header>
  <nav>
    <h1>
    <span routerLink="/"> {{ title }} </span>
    </h1>
    <ul>
      <li routerLink="/aaronsgame">
        <span class="nav-left">Aaron's Game</span>
        <a class="nav-right" href="https://github.com/seagull22/showcase" target="_blank">&lt;&gt; Code</a>
      </li>

      <li routerLink="/">
      <span class="nav-left"> Grid Ripper </span>
      </li>

      <li routerLink="/">
        <span class="nav-left"> Flash Notes </span>
      </li>

      <li routerLink="/">
        <span class="nav-left"> Gasper </span>
      </li>
      <!--
      <li routerLink="/aaronsgame">Color Picker</li>
      <li routerLink="/aaronsgame">CAC Map</li>
      <li routerLink="/todos">Todos</li>
      -->
    </ul>
  </nav>
</header>