header {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  background-color: #46923c;
  color: white;

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    h1 {
      margin: 0;
    }

    h1 span {
      cursor: pointer;
      &:hover {
        color: #0313f5;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 2em;
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: space-evenly;

      li {
        display:flex;
        gap: 5em;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: #0313f5;
        }
      }
    }
  }
}

.nav-left {
  text-align: left;
  flex: 1;
}

.nav-right {
  text-align: right;
  white-space: nowrap;
}