<header>
  <nav>
    <h1>
    <span routerLink="/"> {{ title }} </span>
    </h1>
    <ul>
      <li routerLink="/aaronsgame">
        <div class="aarons-game">
        <div> Aaron's Game </div>
        <div><a href="https://github.com/seagull22/showcase" target="_blank">Github Repo</a> </div>
        </div>
      </li>
      <li routerLink="/">Grid Ripper</li>
      <li routerLink="/">Flash Notes</li>
      <li routerLink="/">Gasper</li>
      <!--
      <li routerLink="/aaronsgame">Color Picker</li>
      <li routerLink="/aaronsgame">CAC Map</li>
      <li routerLink="/todos">Todos</li>
      -->
    </ul>
  </nav>
</header>